@charset "UTF-8";

.ElegibilidadCuestionario {
 padding-left:40px;
 background-color: #fff;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
 font-size: 1em;
}

.ElegibilidadCuestionario th{
	background-color: #014B96;
    color: #fff;
    font-weight: 300;
    line-height: 2em;
    text-align: center;
}

.ElegibilidadCuestionario h2 {
    color: #014B96;
    font-size: 1.2em;
    text-align: left;
    width: 100%;
}

.ElegibilidadCuestionario .moduloSincolumnas {
    background-color: #fff;
    box-sizing: border-box;
    color: #014B96;
    font-weight: 400;
    height: auto;
    text-align: left;
    margin: 10px;
    width: 100%;
}

.ElegibilidadCuestionario .moduloSincolumnas table{
  /*  border: solid 1px #000000;*/
    color: #555;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 60px;
    text-align: center;
    width: 90%;
	border-spacing: 0px;
}

.ElegibilidadCuestionario .moduloSincolumnas tr:nth-child(odd) {
  /*  border: solid 1px #000000;*/
    color: #555;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 60px;
    text-align: center;
    width: 90%;
	border-spacing: 0px;
}

.ElegibilidadCuestionario .moduloSincolumnas table tr:nth-child(odd) {
        background-color: #ddd;
}

.ElegibilidadCuestionario .moduloSincolumnas table td:nth-child(odd) {
          width:40%;
		  border:0;
}

.ElegibilidadCuestionario td{
    padding: 0;
}

.ElegibilidadCuestionario th{
    padding: 0;
    padding-right: 20px;
}

.ElegibilidadCuestionario .Pregunta{
	width:50%;
}

.ElegibilidadCuestionario .Opcion{
	width:10%;
}

.ElegibilidadCuestionario .Justificacion{
	height:30px;
	width:40%;
}