header {
    width: 100%;
    border-top: 10px solid #00539F;
}
header #desktop {
    margin-top:20px; 
    height: 70px;
    border-bottom: 2px solid #00539F;
}

header #desktop img {
    width: 100%;   
}

header #desktop-operacion {
    margin-top:20px; 
    height: 70px;
    border-bottom: 2px solid #00539F;
}

header #desktop-operacion img {
    width: auto;   
}

header #mobile{
    display:none;
}

a {
    color : #00539F;
    margin-right: 5px;
}



.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #00539F;
}

.navbar .navbar-header .navbar-brand img {
    border: 0px solid;
    position: absolute;
    left: -15px;
    top: 0px;
}

/*768 media query*/
@media only screen and (max-width: 481px) {

}

@media only screen and (max-width: 768px) {
    header {
        border :none ;
    }
    
    header #desktop{
        display:none;
    }

    header #mobile{
        display:block;
    } 
    
    header #desktop-operacion {
       display:none; 
    }
    
    .navbar .navbar-header {
        height: 80px;
        margin-top: 20px;
    }
    
    .navbar .navbar-header .navbar-brand img {
        border: 0px solid;
        position: absolute;
        left: -15px;
        top: 0px;
    }
}

@media only screen and (min-width: 992px) {
    
}


@media only screen and (min-width: 1200px) {
  
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
}