@charset "UTF-8";

.condicion-etiqueta {
    color: #121212 !important;
    width: 130px !important;
    font-size: 0.9em  !important;
}
.condicion-valor {
    color: #666666 !important;
    font-weight: bold !important;
    font-size: 0.9em  !important;
}