<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>CuestionarioExcelBSPort</servlet-name>
    <servlet-class>www.bcie.org.service.CuestionarioExcelBS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Cuestionario12Bnd</servlet-name>
    <servlet-class>www.bcie.org.service.LeerExcel</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearReporteElegibilidadPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearReporteElegibilidad</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearAvisoCobroComisionPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearAvisoCobroComision</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearReporteCondicionPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearReporteCondicion</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearReporteTCCPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearReporteTCC</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ConvertirDocumentoBeanPort</servlet-name>
    <servlet-class>www.bcie.org.service.ConvertirDocumentoBean</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AvisoCobroDetImplPort</servlet-name>
    <servlet-class>www.bcie.org.service.AvisoCobroDetImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearReciboPagoPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearReciboPago</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearReporteNoObjecionesPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearReporteNoObjeciones</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CrearReporteCumplimientoCondicionPort</servlet-name>
    <servlet-class>www.bcie.org.service.CrearReporteCumplimientoCondicion</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuestionarioExcelBSPort</servlet-name>
    <url-pattern>/CuestionarioExcelBSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cuestionario12Bnd</servlet-name>
    <url-pattern>/Cuestionario12Bnd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearReporteElegibilidadPort</servlet-name>
    <url-pattern>/CrearReporteElegibilidadPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearAvisoCobroComisionPort</servlet-name>
    <url-pattern>/CrearAvisoCobroComisionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearReporteCondicionPort</servlet-name>
    <url-pattern>/CrearReporteCondicionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearReporteTCCPort</servlet-name>
    <url-pattern>/CrearReporteTCCPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConvertirDocumentoBeanPort</servlet-name>
    <url-pattern>/ConvertirDocumentoBeanPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AvisoCobroDetImplPort</servlet-name>
    <url-pattern>/AvisoCobroDetImplPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearReciboPagoPort</servlet-name>
    <url-pattern>/CrearReciboPagoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearReporteNoObjecionesPort</servlet-name>
    <url-pattern>/CrearReporteNoObjecionesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearReporteCumplimientoCondicionPort</servlet-name>
    <url-pattern>/CrearReporteCumplimientoCondicionPort</url-pattern>
  </servlet-mapping>
</web-app>
