@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/**************   GENERAL STYLES ******************/
.FNXDefaultfont {
    font-family: 'Lucida Sans Unicode';
    font-weight: 300;
    font-size: 0.9em;
    text-align : left;
    color: #014b96 !important;
}
.AFDefaultFontFamily:alias, body, tbody
{
    font-family: 'Lucida Sans Unicode';
    color: #014b96;
}
.AFDefaultFontSize:alias, .AFDefaultFontSize:alias, .AFDefaultFont:alias, af|inputText::content, af|inputText::content, af|inputText::context-content 
{
    font-weight: 300;
    font-size: 0.9em;
    text-align : left;
}
af|query::criterion-label, af|query::criterion-content, af|query::content0, af|query::criterion-label-top
{
    font-weight: 300;
    font-size: 1.2em;
    text-align : left;
    color: #014b96;
}
/**************   GENERAL STYLES ******************/

/**************   BUTTON STYLES ******************/

af|button.commentReplyLink, 
af|button.commentReplyLink:active,
af|button.commentReplyLink:hover
{
    color: #FF9900;
    background-color: transparent;
    background-image: none;
    border: none ;
    border-color: transparent !important ;
    background: none !important ;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13.5px !important;
    text-decoration: underline;
}

af|button.commentReplyLink::text
{
    cursor: pointer;
    font-size: 13.5px !important;
    text-decoration: underline;
}

af|button.commentReplyLink:disabled::text
{
    cursor: default;
    font-size: 13.5px !important;
    text-decoration: underline;
}

af|button.headerLink, 
af|button.headerLink:active,
af|button.headerLink:hover
{
    color: White;
    background-color: transparent;
    background-image: none;
    border: none ;
    border-color: transparent !important ;
    background: none !important ;
    font-family: Tahoma, Geneva, sans-serif;
}

af|button.headerLink::text
{
    cursor: pointer;
}

af|button.headerLink:disabled::text
{
    cursor: default;
}

af|button.yellowBtn, af|button.yellowBtn:active, af|button.yellowBtn:hover
{
    color: #014b96;
    background-color: #F6CB0B;
    background: #F6CB0B;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
}

af|button.yellowBtn::text
{
    cursor: pointer;
}

af|button.yellowBtn:disabled::text
{
    cursor: default;
}

a:hover {
    cursor: pointer;
}

.AFButtonGradientStartColor:alias {
    color: #FF8000; 
}

.AFButtonBorderBottomColor:alias {
    color: #FF8900; 
}

.AFButtonBorderColor:alias {
    color: #FF8000; 
}

/*INFO: Color value exceeded range after adjustment: HSL(30, 101%, 44%)*/
.AFButtonGradientEndColor:alias {
    color: #E07100; 
}

.AFButtonGradientStartActiveColor:alias {
    color: #FF8000; 
}

.AFButtonBorderTopActiveColor:alias {
    color: #B86919; 
}

.AFButtonBorderActiveColor:alias {
    color: #E57D15; 
}

.AFButtonGradientEndActiveColor:alias {
    color: #FDA953; 
}

.AFButtonForegroundDepressed:alias {
    color: #942100; 
}

.AFButtonForeground:alias {
    color: #ffffff; 
}

.AFButtonBorder:alias {
    border-radius: 6px; 
}

af|button.orangeBtn
{
}

af|button.orangeBtn:hover {
}
af|button.orangeBtn:active {
}

af|button.orangeBtn::text
{
}

af|button.orangeBtn:disabled::text
{
}

af|button.repply
{
    display:inline-block !important;
}

/**************   BUTTON STYLES ******************/

/**************   OUTPUT STYLES ******************/
.sep
{
    color: White; 
    font-family: 'Times New Roman';
}

.taskName
{
    color: White; 
    font-size: 1.2em;
}
af|activeOutputText, .AFPanelFormLayoutContentCell, af|panelLabelAndMessage::content-cell, af|outputText
{
    color: #4f4f4f;
    font-size: 0.9em;
    font-weight:bolder;
}

/**************   OUTPUT STYLES ******************/

/**************   INPUT STYLES ******************/
af|inputText::label, af|selectManyListbox::label, af|selectBooleanCheckbox::label, .AFTableNavBarCurrentPage:alias 
af|selectBooleanRadio::label, af|inputDate::label, af|chooseDate::label, af|selectManyCheckbox::label,
af|selectManyChoice::label, af|selectManyListbox::label, af|selectOneChoice::label, af|selectOneListbox::label,
af|selectOneRadio::label, af|panelLabelAndMessage::label,
af|panelFormLayout::label-cell,
af|inputComboboxListOfValues::label
{
    color: #014b96; 
    text-align: left;
}

af|inputText::content:focus
{
    background-color: #FFFFFF;
}

af|inputText::content:-moz-placeholder
{
    /* Firefox 18- */

    color: #014B96;
    color: red;
    font-style: italic;
    opacity: 0.5;
}

af|inputText::content::-moz-placeholder
{
    /* Firefox 19+ */

    color: #014B96;
    font-weight: 300;
    font-style: italic;
    opacity: 0.4;
}

af|inputText::content:-ms-input-placeholder
{
    color: #014B96;
    font-weight: 300;
    font-style: italic;
    opacity: 0.5;
}

af|inputText::content::-webkit-input-placeholder
{
    color: #014B96;
    font-weight: 300;
    font-style: italic;
    opacity: 0.5;
}
/**************   INPUT STYLES    ******************/

/**************   PANELS STYLES   ******************/

af|panelGroupLayout.pgl100{
    width: 100%;
    padding-left:30px;
}

af|panelFormLayout.commentPGL table{
    width: 100% !important; 
}

af|panelFormLayout.commentPGL98 table{
    width: 100% !important; 
}

af|panelFormLayout::label-stacked-cell{
   /** color: #014b96; **/
    padding-left: 0px;
}

af|panelGridLayout.pageHeader
{
    background-color: #014B96;
}

af|panelGroupLayout.rightHeader
{
    padding-right: 25px;
}

af|panelAccordion.secctionAccordion::header-title
{
    font-size: 1.1em;
    font-weight: normal;
}

af|panelAccordion.secctionAccordion::header-subsequent
{
    height: auto !important;
}

af|panelAccordion.secctionAccordion::header
{
    color: #014B96;
    height: auto !important;
}
/**************   PANELS STYLES   ******************/

/**************   TABLE STYLES   ******************/

af|table.taskTable, af|column::column-header-cell,
af|column::column-header-cell-content, af|column::detail-column-header-cell 
{
    background-color: #014B96;
}

af|table.taskTable, af|column::column-header-cell-content
{
    color: #ffffff;
    text-align: center;
}
/**************   TABLE STYLES   ******************/

/**************   MENU STYLES   ******************/

af|menuBar.actionMenuBar, af|menuBar.actionMenuBar:hover
{
    height:auto;
}

af|menu.actionMenu, af|menu.actionMenu:hover
{
    background-color: #F6CB0B;
}

af|menu::bar-item.actionMenu, af|menu::bar-item.actionMenu:hover
{
   height:auto;
   padding: 8px;
   background-image: none;
   border-radius: 5px;
   border: solid;
   border-width: 0px;
   font-weight: 400;
}

af|menu.actionMenu::bar-item-text, af|menu.actionMenu::bar-item-text:hover
{
    color: #014B96;
    font-weight: 400;
}

af|menu.actionMenu::bar-item-text 
{
    color: #014B96;
    font-weight: 400;
}

af|menu::bar-item-text {
    color: White;    
    font-family: Tahoma, Geneva, sans-serif;
}

af|menu:depressed af|menu::bar-item-text {
    color: Black;
}

af|menu:highlighted af|menu::bar-item-text {
    color: Black;
}

af|menu::bar-item-open-icon-style {
    background-repeat: no-repeat;
    height: 7px;
    background-image: url(../../images/menu_button_dropdown_dwn.png);
    background-position: center bottom;
    width: 9px;
    padding-left: 3px;
    padding-right: 3px;
}

af|menu::bar-item-open-icon-style:hover {
    background-image: url(../../images/menu_button_dropdown_ena.png);
}

/**************    SPECIAL STYLES   *****************/

af|listItem.commentListHead:group-header div{
    display:inherit;
}

af|listItem.commentListHead:group-header{
    background-image: none;
    background-color: #FAFAFA;
}


/**************    SPECIAL STYLES   *****************/

af|panelHeader.ContentTreeFont::title-text0
{
    font-size: 1em; 
}

af|panelHeader.CommentsHistory::title-text0
{
    font-size: 1.1em; 
    color: Black; 
    font-weight: normal;
}

af|panelHeader::title-text0
{
    font-size: 1.1em; 
}
af|panelHeader::title-text1
{
    font-size: 1.1em; 
}
af|panelHeader::title-text2
{
    font-size: 1.0em; 
}


af|selectBooleanCheckbox::item-text
{
/*    color: #014B96; 
    font-size: 0.9em; */
    background-image: none;
    /*box-sizing: border-box;*/
    display: inline-block;
    margin: 5px 0 10px 0;
    padding: 8px 10px;
    width: auto;
}

af|inputDate::content
{
    background-color: #FAFDFF;
/*    font-size: 0.9em; */
    background-image: none;
    /*border-color: #acacac;*/
    /*box-sizing: border-box;*/
    display: inline-block;
    margin: 5px 0 10px 0;
    /*padding: 5px 10px;*/
    width: auto;
}

af|inputDate::content:focus
{
    background-color: #FFFFFF;
   /* font-size: 0.9em; */
}

af|link::text
{
    color: #014B96; 
   /* font-size: 0.9em; */
    /*box-sizing: border-box;*/
    display: inline-block;
    margin: 5px 0 10px 0;
    padding: 8px 10px;
    width: auto;
}

af|link.menuLink::text
{
    margin: 0 0 0 0 !important;
    padding: 0px 10px  !important ;
}

/**************   TREE STYLES   ******************/

af|tree::collapsed-icon-style
{
  background-image: url(../../images/expand.gif);
    height: 13px; 
    width: 2px;
    background-size: 12px;
    padding: 0px 13px 0px 0px;
}
af|tree::expanded-icon-style
{
  background-image: url(../../images/collapse.gif);
    height: 13px; 
    width: 2px;
    background-size: 12px;
    padding: 0px 13px 0px 0px;
}
af|tree::data-cell
{
    font-size: .8em;
}

/**************   ACCORDION STYLES   ******************/

af|panelAccordion::header:disclosed af|panelAccordion::header-title {
    font-size: 1.1em; 
    color: #737373; 
    }

af|panelAccordion::header-subsequent:disclosed af|panelAccordion::header-title {
    font-size: 1.1em; 
    color: #737373; 
    }

af|panelAccordion::header af|panelAccordion::header-title {
    font-size: 1.1em; 
}

af|panelAccordion::header-subsequent af|panelAccordion::header-title {
    font-size: 1.1em; 
}

/************** LABEL STYLES ********************/
af|outputText.styleTextJobData{
    color:#014B96; 
    font-weight:400; 
    text-align:left;
}

af|outputText.RespuestaLabel{
    color:#014b96; 
    font-size:14px; 
    font-weight: bold;
}

/************** Salida de Texto con formato basico *****************************/
.PreWrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.PanelBorderStyle{
    border-style:solid; 
    border-width:1.0pt; 
    border-color:#c6d6ff;
}
/**Se agrega estilo para los inputCombox**/
af|inputComboboxListOfValues{
-tr-stretch-dropdown-table: false;
    width: inherit; 
}


/**Estilos cotumizados**/

.readLink af|link{
    padding:0px 0px  ;
}

.readLink .af_link_text {
    margin: 0px 0px 0px 0px!important;
    padding: 0px 10px!important;
}

.readLink  af|link::text {
    margin: 0px 0px 0px 0px!important;
    padding: 0px 10px!important;
}

.checkInline af|selectBooleanCheckbox::item-text{
    color: transparent!important;
}

.checkInline af|selectBooleanCheckbox::label{
    color: Black!important;
}