@charset "UTF-8";
::marker { 
  font-size: 0px;
}

.tooltip{
    position:relative;
    
    }
    .tooltip:hover{
    text-decoration:none;
    }
    .tooltip:after{
    content: attr(tip);
    font-family:Arial, Helvetica, sans-serif;
    font-size:90%;
    line-height:1.2em;
    color:#fff;
    width:180px;
    padding:5px 10px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background:#c00d3f;
    background:-webkit-linear-gradient(#2167ad, #0a4c7b);
    background:-moz-linear-gradient(#2167ad, #0a4c7b);
    background:-o-linear-gradient(#2167ad, #0a4c7b);
    background:-ms-linear-gradient(#2167ad, #0a4c7b);
    background:linear-gradient(#2167ad, #0a4c7b);
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0, .65);
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0, .65);
    box-shadow: 3px 3px 4px rgba(0,0,0, .65);
    position:absolute;
    top:27px;
    left:-10px;
    display:none;
    }
    .tooltip:before{
    z-index:1000;
    position:absolute;
    content:"";
    top:15px;
    left:0px;
    border-right:7px transparent solid;
    border-left:7px transparent solid;
    display:none;
    }
    .tooltip:hover{
    z-index:1000;
    position:relative;
    color:#8325f7;
    }
    .tooltip:hover:after{
    display:block;
    }
    .tooltip:hover:before{
    display:block;
    }