<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14 w15">
	<w:trackRevisions w:val="false" />
	<w:zoom w:percent="100" />
	<w:defaultTabStop w:val="708" />
	<w:hyphenationZone w:val="425" />
	<w:characterSpacingControl w:val="doNotCompress" />
	<w:compat>
		<w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15" />
		<w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
		<w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
		<w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
		<w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
	</w:compat>
	<m:mathPr>
		<m:mathFont m:val="Cambria Math" />
		<m:brkBin m:val="before" />
		<m:brkBinSub m:val="--" />
		<m:smallFrac m:val="0" />
		<m:dispDef />
		<m:lMargin m:val="0" />
		<m:rMargin m:val="0" />
		<m:defJc m:val="centerGroup" />
		<m:wrapIndent m:val="1440" />
		<m:intLim m:val="subSup" />
		<m:naryLim m:val="undOvr" />
	</m:mathPr>
	<w:themeFontLang w:val="es-ES" />
	<w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink" />
	<w:shapeDefaults>
		<o:shapedefaults v:ext="edit" spidmax="1026" />
		<o:shapelayout v:ext="edit">
			<o:idmap v:ext="edit" data="1" />
		</o:shapelayout>
	</w:shapeDefaults>
	<w:decimalSymbol w:val="." />
	<w:listSeparator w:val="," />
	<w15:chartTrackingRefBased />
	<w14:docId w14:val="26657EB5" />
	<w15:docId w15:val="{6e86e9e3-fe84-4fee-ae4c-3d822b2507be}" />
	<w:rsids>
		<w:rsidRoot w:val="26657EB5" />
		<w:rsid w:val="040E365D" />
		<w:rsid w:val="0538D5F7" />
		<w:rsid w:val="06B89531" />
		<w:rsid w:val="0732AB5C" />
		<w:rsid w:val="08A6EC3B" />
		<w:rsid w:val="08FEE86E" />
		<w:rsid w:val="0B5454A8" />
		<w:rsid w:val="0C88A0DE" />
		<w:rsid w:val="1C365AF1" />
		<w:rsid w:val="1CAC8DF2" />
		<w:rsid w:val="1D1072D7" />
		<w:rsid w:val="1F93A1C4" />
		<w:rsid w:val="235DCCF0" />
		<w:rsid w:val="23FC11DF" />
		<w:rsid w:val="2456E9FE" />
		<w:rsid w:val="24BEB106" />
		<w:rsid w:val="26657EB5" />
		<w:rsid w:val="2839A3B1" />
		<w:rsid w:val="2E2CE14E" />
		<w:rsid w:val="2EA76162" />
		<w:rsid w:val="338285B0" />
		<w:rsid w:val="3529F44C" />
		<w:rsid w:val="35487D9B" />
		<w:rsid w:val="366FDAE8" />
		<w:rsid w:val="369CBCBF" />
		<w:rsid w:val="3A6CD303" />
		<w:rsid w:val="3E186074" />
		<w:rsid w:val="405C9491" />
		<w:rsid w:val="4388A5CD" />
		<w:rsid w:val="462622D2" />
		<w:rsid w:val="4CF08571" />
		<w:rsid w:val="4E404062" />
		<w:rsid w:val="5023C160" />
		<w:rsid w:val="51839C05" />
		<w:rsid w:val="52852842" />
		<w:rsid w:val="5375A344" />
		<w:rsid w:val="543E4705" />
		<w:rsid w:val="5A23FEF8" />
		<w:rsid w:val="5AA059B1" />
		<w:rsid w:val="5AFE8A3A" />
		<w:rsid w:val="613A7F84" />
		<w:rsid w:val="618C3F81" />
		<w:rsid w:val="6C49C514" />
		<w:rsid w:val="70834780" />
		<w:rsid w:val="71911666" />
		<w:rsid w:val="7330B4C1" />
		<w:rsid w:val="7485124A" />
		<w:rsid w:val="7549A7F0" />
		<w:rsid w:val="7561D84B" />
		<w:rsid w:val="76A787F9" />
		<w:rsid w:val="7782C95B" />
		<w:rsid w:val="78118536" />
		<w:rsid w:val="788B063D" />
		<w:rsid w:val="79115896" />
		<w:rsid w:val="79B46437" />
		<w:rsid w:val="7B2C42E3" />
		<w:rsid w:val="7F580B3F" />
	</w:rsids>
</w:settings>