html {
	height: 100%;
}
body {
	background-color: white !important;
	height: 100%;
}

.account-wall
{
    padding: 40px 0px 20px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-signin
{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .input-group
{
    margin-bottom: 30px;
}

.input-group input {
    color : black;
}  


.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}

.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 12px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus
{
    z-index: 2;
}

.text-title {
	height: 50px;
	padding-top: 25px;

}

.image-responsive{
        width:55%;
}

@media only screen and (max-width: 481px) {
    .image-responsive{
        width:40%;
    }
}

@media only screen and (min-width: 768px) {
   
}

@media only screen and (min-width: 992px) {
    
}


@media only screen and (min-width: 1200px) {
  
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
}


